.nav-item, .row .column {
    display: inline-flex;
    padding: 12px;
}
p {
    margin-left: 5px;
    padding-left: 15px;
    /*padding-right: 12px;*/
    text-align: justify;
}
h1 {
    padding-left: 15px;
    text-align: center;
}

.Img-container .row .column {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Img-container {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 12px;
    padding-right: 12px;
}
.max-container .nav-container {
   flex: 0 0 50px;
    /*display: flex;
    justify-content:flex-start;
    flex-direction: column;*/
}
.max-container .Img-container {
    flex: 1;
    /*display: flex;
    justify-content:flex-end;
    flex-direction: column;*/
}
.max-container {
    display: flex;
}