.nav-item, .row .column {
    display: inline;
    padding: 12px;
}
.nav {
    background-color: lightgrey;
    display: block;
    justify-content:left;
}
.main-nav {
    margin-right: 20px;
    margin-left: 20px;
    border-style: solid;
}
.nav-container {
    border-style: solid;
    background-color: chartreuse;
}

h1 {
    background-color: yellow;
}

p {
    padding-left: 12px;
    padding-right: 12px;
}

.Img-container .row .column {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;     
}
.Img-container {
    display: flex;
    justify-content: ;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    background-color: lightgrey;
    padding-left: 12px;
    padding-right: 12px;
}
